.main-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 5vh 50vh auto 10vh;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

// Header
.header {
  grid-column: 1 / 5;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(210, 11%, 15%, .5);
    display: flex;

    .container {
      flex: 0 0 66.6666667%;
      max-width: 75rem;
      width: 100%;
      margin: 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 10rem;

      .post-heading {
        color: #fff;

        h1 {
          font-size: 3.4rem;
          font-weight: 800;
          color: #fff;
          z-index: 9;
        }

        .meta {
          font-size: 1.25rem;
          font-weight: 300;
          font-style: italic;
          line-height: 1.1;
          color: #fff;

          a {
            color: #fff;
          }
        }
      }

      .site-heading {
        h1 {
          font-size: 3.4rem;
          font-weight: 800;
          color: #fff;
          z-index: 9;
        }

        .subheading {
          font-size: 1.25rem;
          font-weight: 300;
          font-style: italic;
          line-height: 1.1;
          color: #fff;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}

// Main Content
.main {
  grid-row: 3;
  grid-column: 1 / 5;
  max-width: 75rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto 0;

  .pager-section {
    height: max-content;
  }

  .section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2px 0;

    .page-heading {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 3rem;
      }
    }

    .article {
      width: 100%;
      height: 100%;

      .post-preview {
        height: 100%;
        width: 80%;
        border: 2px ridge green;
        border-radius: 10px;
        padding: 1rem;

        a {

          .post-title {}

          .post-meta {}
        }
      }
    }

    .pager {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 2rem;
      padding-top: 1rem;

      .pagerBtn {
        font-size: 1.2rem;
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
      }
    }
  }
}

// Footer
.footer {
  grid-row: 4;
  grid-column: 1 / 5;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .social-links {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: .5rem;
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
  }
}

hr {
  border: 1px solid black;
  width: 100%;
  height: 1px;
}